{% extends "base.html" %}

{% block title %}Page Not Found | Bunker11{% endblock %}

{% block meta_description %}
<meta name="description" content="Oops! This page doesn't exist." />
{% endblock %}

{% block og_title %}404 – Page Not Found | Bunker11{% endblock %}
{% block og_description %}This page isn't available.{% endblock %}

{% block twitter_title %}Page Not Found – Bunker11{% endblock %}
{% block twitter_description %}This page doesn't exist.{% endblock %}

{% block content %}
    <div class="error-container">
        <h2>Sorry, the page you are looking for does not exist.</h2>
        <p>The URL you entered is invalid or no longer available.</p>
        <p><a href="{{ url_for('home') }}">Go back to the homepage</a></p>
    </div>
{% endblock %}
