{% extends "base.html" %}

{% block title %}Podcast | BuNker11{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcast.css') }}">
{% endblock %}

{% block content %}
<section class="podcast-section">
    <h1>TOT Presents Worthing Podcast</h1>

    <div class="recent-video">
        {% if podcast_url %}
            {% set video_id = podcast_url.split('v=')[-1].split('&')[0] if 'v=' in podcast_url else podcast_url.split('/')[-1] %}
            <iframe 
                src="https://www.youtube.com/embed/{{ video_id }}"
                title="Latest Podcast Video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        {% else %}
            <iframe 
                src="https://www.youtube.com/embed/-3KvXitcFkk"
                title="Latest Podcast Video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        {% endif %}
    </div>

    <div class="subscribe-container">
        <a href="https://www.youtube.com/channel/{{ youtube_channel_id }}?sub_confirmation=1" target="_blank" class="subscribe-button">
            Subscribe to TOT Presents Worthing Podcast
        </a>
    </div>

    <div class="video-gallery">
        {% for video in recent_videos %}
        <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_blank" class="video-thumb" title="{{ video.title }}">
            <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
            <span class="video-title">{{ video.title }}</span>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
