{% extends "base.html" %}

{% block title %}Venue | BuNker11{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/venue.css') }}">
{% endblock %}

{% block content %}
    <section class="venue-section">
        <div class="venue-accessibility">
            <h2>Accessibility Information</h2>
            <p>
                Unfortunately, BuNker11 is not wheelchair accessible at this time.
            </p>
            <p>
                We apologize for any inconvenience and are always happy to answer questions about access—please
                <a href="{{ url_for('contact') }}">contact us</a> if you need more information.
            </p>
        </div>

        <div class="venue-location">
            <h2>Location</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.7314638250637!2d-0.38732542293823724!3d50.80926737166295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875a28c1d6a10e7%3A0x7e47f12c0aba4478!2sThe%20Charles%20Dickens!5e1!3m2!1sen!2suk!4v1753189349446!5m2!1sen!2suk"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <div class="venue-details">
            <h2>Venue Details</h2>
            <div class="venue-details-categories">
                <div class="venue-details-category">
                    <h3>Facilities</h3>
                    <ul class="venue-details-list">
                        <li><strong>Capacity:</strong> 80 people</li>
                        <li><strong>Bar:</strong> Bar available until 11:00pm</li>
                        <li><strong>Toilets:</strong> On-site</li>
                        <li><strong>Parking:</strong> Free</li>
                    </ul>
                </div>
                <div class="venue-details-category">
                    <h3>Equipment</h3>
                    <ul class="venue-details-list">
                        <li><strong>Sennheiser e600 kick mic:</strong> x1</li>
                        <li><strong>E604:</strong> x4 (toms and snare)</li>
                        <li><strong>E609:</strong> x2 (guitar cabs)</li>
                        <li><strong>E600 condenser pencil mics:</strong> x2</li>
                        <li><strong>SM58:</strong> x3</li>
                        <li><strong>DI box:</strong> x2</li>
                        <li><strong>XLR cables:</strong> x16</li>
                        <li><strong>58 type mics:</strong> x2</li>
                        <li><strong>Stage snake:</strong> 16x4</li>
                        <li><strong>DI boxes:</strong> x3</li>
                        <li><strong>Full drum backline:</strong> with 1 up, 1 down shells</li>
                        <li><strong>Bass cab and head:</strong> x1</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}